[submodule "ValveFileSystem"]
	path = ValveFileSystem
	url = git@github.com:Ganonmaster/ValveFileSystem.git
[submodule "VTFLibWrapper"]
	path = VTFLibWrapper
	url = git@github.com:Ganonmaster/VTFLibWrapper.git
